services:
  calibre:
    image: lscr.io/linuxserver/calibre:latest
    container_name: calibre
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${ROOT_DATA_DIR}/config/calibre:/config
      - ${ROOT_DATA_DIR}/library:/books
    ports:
      - ${CALIBRE_GUI_PORT}:8080
      - ${CALIBRE_CONTENT_PORT}:8081
    restart: unless-stopped
    networks:
      - homelab

  audiobookshelf:
    image: ghcr.io/advplyr/audiobookshelf:latest
    container_name: audiobookshelf
    environment:
      - TZ=${TZ}
    volumes:
      - ${ROOT_DATA_DIR}/config/audiobookshelf:/config
      - ${ROOT_DATA_DIR}/metadata:/metadata
      - ${ROOT_DATA_DIR}/library:/books:ro
    ports:
      - ${ABS_PORT}:80
    restart: unless-stopped
    networks:
      - homelab

networks:
  homelab:
    external: true
