# Ignore secrets and sensitive files
# Bỏ tất cả file .env (mọi cấp thư mục)
**/.env
**/*.env
**/.env.*
**/*.env.*

# Nhưng cho phép commit bản đã mã hoá
!**/*.enc

*.key
*.pem
*.crt
*.secret
secrets/
private/
backup/
*.bak
*.swp
*.swo

# Ignore system and editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log

# Ignore OS-specific files
__pycache__/
*.pyc

# Ignore personal or sensitive configs
configs/sshd_config
configs/50-cloud-init.yaml
configs/02-usb-tethering.yaml
configs/fstab
configs/00-installer-config.yaml

# Allow example/template configs
!configs/*.example*

# Ignore personal shell configs
configs/.gitconfig
configs/.profile
configs/.bashrc
configs/.ssh/config

# Node.js
node_modules/
npm-debug.log*
yarn-error.log*

# Build, cache, dist
dist/
build/
*.tmp

# Database, backup
*.db
*.sqlite

# Bookmark Manager data
bookmark-manager/data/

# Streaming service data/cache/logs/configs
streaming/data/
streaming/configs/
streaming/.env

# Pihole etc
pihole/etc-pihole/
pihole/etc-pihole/logrotate


# Homelab dashboard assets
homelab-dashboard/homer/assets/*.bak
homelab-dashboard/homer/assets/*.tmp

# Portainer data
portainer/backup/

# Scripts
scripts/*.log
scripts/*.bak

scripts