---
services:
  filebrowser:
    image: filebrowser/filebrowser
    container_name: filebrowser
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - /home/tu:/srv #change 'user' for the name of your account
      - ./database:/database #this will create the filebrowser.db file
      - ./config:/config #this will create the settings.json file
      - /mnt/hdd500:/srv/hdd500 # Mount external drive
    # ports:
    #   - 666:80 #default port is 8080, change as needed. Don't change the right hand side port (port 80)
    restart: unless-stopped
    networks:
      - homelab

networks:
  homelab:
    external: true