version: '3.8'

services:
  ntfy:
    image: binwiederhier/ntfy
    container_name: ntfy
    command:
      - serve
    environment:
      - TZ=Asia/Ho_Chi_Minh
      - NTFY_BASE_URL=https://ntfy.tutran-dev.id.vn
      
      # --- CẤU HÌNH MẠNG ---
      - NTFY_BEHIND_PROXY=true
      - NTFY_LISTEN_HTTP=:80 
      
      # --- BẢO MẬT (QUAN TRỌNG) ---
      # 1. Khóa cửa mặc định
      - NTFY_AUTH_DEFAULT_ACCESS=deny-all
      # 2. Bật chức năng login trên web
      - NTFY_ENABLE_LOGIN=true
      # 3. Chỉ định file lưu user/pass (Sẽ tạo ở bước sau)
      - NTFY_AUTH_FILE=/var/lib/ntfy/user.db
      
      # --- CACHE ---
      - NTFY_CACHE_FILE=/var/lib/ntfy/cache.db
      - NTFY_ATTACHMENT_CACHE_DIR=/var/lib/ntfy/attachments
      - NTFY_KEEPALIVE_INTERVAL=45s

    volumes:
      - ./ntfy_data:/var/lib/ntfy
      - ./ntfy_config:/etc/ntfy 
    
    # TUYỆT ĐỐI KHÔNG MỞ PORTS VÌ ĐÃ DÙNG NPM
    ports:
      - "8081:80"
    
    networks:
      - homelab
    restart: unless-stopped

networks:
  homelab:
    external: true