services:
  adguardhome:
    image: adguard/adguardhome:latest
    container_name: adguardhome
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      # - "3000:80/tcp"   # Web UI
      # - "3000:3000/udp"
    volumes:
      # Nơi lưu trữ file hoạt động
      - ./workdir:/opt/adguardhome/work
      # Nơi lưu trữ file cấu hình
      - ./confdir:/opt/adguardhome/conf
    restart: unless-stopped
    networks:
      - homelab

networks:
  homelab:
    external: true