services:
  linkding:
    image: sissbruecker/linkding:1.42.0
    container_name: linkding
    init: true
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9090"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "9090:9090"
    volumes:
      - ./linkding_data:/etc/linkding/data
    env_file:
      - .env
    restart: unless-stopped
    environment:
      - TZ=${TZ}
    networks:
      - linkding

  linkding_ai:
    build:
      context: ./ai_bot
      dockerfile: Dockerfile
    image: bookmark-manager-linkding_ai:v1
    container_name: linkding-ai
    init: true
    volumes:
      - ./linkding_ai_data:/data
    env_file:
      - ./ai_bot/.env
    depends_on:
      linkding:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - linkding

networks:
  linkding:
    driver: bridge
